<!DOCTYPE html>
<html>
  <head>
    <title>上傳 mp4 檔及選擇語言</title>
  </head>
  <body>
    <form action="" method="post" enctype="multipart/form-data">
      <label for="file">選擇要處理的影片：</label>
      <input type="file" id="file" name="file"><br><br>
      <label for="lang">選擇語言：</label>
      <select id="lang" name="lang">
        <option value="Japanese">日文</option>
        <option value="Korean">韓文</option>
        <option value="English">英文</option>
      </select><br><br>
      <input type="submit" value="提交">
    </form>
  </body>
</html>